<a href="#" class="list-group-item active">管理员管理</a>

<a href="/admin/" class="list-group-item">
    管理员列表</a>

<a href="/admin/add" class="list-group-item">
    管理员增加</a>

<a href="#" class="list-group-item active">用户管理</a>
<a href="/admin/user" class="list-group-item ">
    用户列表</a>


<a href="/admin/user/add" class="list-group-item ">
    用户增加</a>

<a href="#" class="list-group-item active">新闻管理</a>
<a href="/admin/article" class="list-group-item">
    新闻列表</a>


<a href="/admin/article/add" class="list-group-item ">
    新闻增加</a>

<a href="#" class="list-group-item active">商家管理</a>
<a href="/admin/business" class="list-group-item ">
    商家列表</a>


<a href="/admin/business/add" class="list-group-item ">
    商家增加</a>

